* {
	margin: 0px;
	padding: 0px;
}

img {
	height: 170px;
	width: 170px;
	border: 4px solid rgb(89, 89, 255);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

h2 {
	color: rgb(197, 223, 255);
	margin-top: 20px;
	margin-left: 20px;
	font-size: 25px;
}

.game {
	background-color: rgb(127, 182, 255);
}

.gameboard {
	display: flex;
	flex-wrap: wrap;
	margin-top: 80px;
}

.card {
	height: 20%;
	width: 15%;
	background-color: blue;
	padding: 10px;
	margin: 15px;
	border-radius: 15px;
	background-image: linear-gradient(
		to bottom right,
		rgb(25, 32, 163),
		rgb(62, 155, 221)
	);
}
